
.mainConstructor{
  padding-top: 100px;
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
}

.scroll{
  height: 656px;
  overflow-y: scroll;
  overflow-x: auto;
}

.wrappercost{
  margin-top: 40px;
  display: flex;
  justify-content: end;
  gap:40px;
}