@import "../../style/variables/index.scss";

._app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $black-131316;
}

._wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
