
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  background: #1C1C21; 
}

.bar {
  width: 1280px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.icon {
  width: 24px;
  height: 24px;
}  

.button{
  display: flex;
  align-items:center;
  background: transparent;
}

.textsecondary{
  color:#8585AD;
}

.textprimary{
  color:#F2F2F3;
}

.wrapper{
  display: flex;
}

